---
layout: post
title: Inclusive (almost!) application of numerical techniques in Materials Science
subtitle: An overview of combined application of mathematical topics lectured in ENGN2020 @ Brown University Spring '19
date: 2020-05-27 01:45:13 -0400
mathjax: true
background: /img/posts/engn2020/engn2020_header.png
---
<div justify="align">
<p>This post in based on the syllabus of <b>ENGN 2020 - Mathematical Methods in Engineering and Physics II</b> offered during the Spring semester at Brown University, RI, USA. </p>

<p> ENGN 2020 is an extensive course on the application of a wide spectrum of numerical techniques that can be used to solve real-life engineering problems. Unfortunately, due the large syllabus, the utility of the lessons learnt in this course can often be underestimated or forgotten. In this post we shall look at a Materials science phenomena known as Spinodal Decomposition, which can be mathematically modeled by the Cahn-Hilliard Equation. The algorithm demonstrated below is borrowed from the work done by Dr. Saswata Bhattacharya and colleagues at the Indian Institute of Science, Bangalore (IISC).</p>

<p> However, the details of the particular computer experiment is not the primary take-away here, rather, the application of apparently disconnected mathematical topics in tandem that leads to the physically comparable results is what's important and shall be stressed upon.</p>

{% include youtubePlayer.html id="S5bYc03QrgA" %}

{% include youtubePlayer.html id="LwvKW0CtgAE" %}

<p>Here is the presentation.</p>

<embed src="https://reach2sayan.github.io/quantum_musings/pdfs/ENGN2020_class_ppt.pdf" type="application/pdf" width="100%" height="800px" />



<h2 class="section-heading">References</h2>

<p>
  <ol>
    <li>J. W. Cahn and J. E. Hilliard, "Free Energy of a Nonuniform System. I. Interfacial Free Energy", J. Chem. Phys. 28, 258 (1958); <a href="https://doi.org/10.1063/1.1744102">https://doi.org/10.1063/1.1744102</a></li>
    <li>E. Schrödinger, "An Undulatory Theory of the Mechanics of Atoms and Molecules",Phys. Rev. 28, 1049 (1926); <a href="https://doi.org/10.1103/PhysRev.28.1049">https://doi.org/10.1103/PhysRev.28.1049</a></li>
    <li>P. Hohenberg and W. Kohn, "Inhomogeneous Electron Gas", Phys. Rev. 136, B864 (1964); <a href="https://doi.org/10.1103/PhysRev.136.B864">https://doi.org/10.1103/PhysRev.136.B864</a></li>
    <li>A. Fick, "Uber Diffusion",Annalen der Physik und Chemie von J. C. Pogendorff, 94, 59 (1855); <a href="https://doi.org/10.1002/andp.18551700105">https://doi.org/10.1002/andp.18551700105</a></li>
    <li>L.Q.Chen and J.Shen, "Applications of semi-implicit Fourier-spectral method to phase field equations", Comput. Phys. Commun. 108, 147 (1998); <a href="https://doi.org/10.1016/S0010-4655(97)00115-X">https://doi.org/10.1016/S0010-4655(97)00115-X</a></li>
    <li>S.Bhattacharya and T.A. Abhinandanan, "A study of phase separation in ternary alloys", Bull. Mater. Sci. 26, 193 (2003); <a href="https://doi.org/10.1007/BF02712812">https://doi.org/10.1007/BF02712812</a></li>
</ol>
</p>
</div>
